<a href="https://colab.research.google.com/github/Shenbagalakshmi123/Capstoneproject_module2_RSL/blob/main/Repractice_Module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
imdb_df = pd.read_csv('/content/drive/My Drive/Almafiles/imdb_data.csv')

In [ ]:
imdb_df.head(5)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [ ]:
imdb_df.tail(5)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,4/22/94,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,3/28/13,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,10/11/96,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,1/16/04,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,9/22/11,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

In [ ]:
imdb_df.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [ ]:
imdb_df[['id','title','original_language','cast']]

,id,title,original_language,cast
0,1,Hot Tub Time Machine 2,en,"[{'cast_id': 4, 'character': 'Lou', 'credit_id..."
1,2,The Princess Diaries 2: Royal Engagement,en,"[{'cast_id': 1, 'character': 'Mia Thermopolis'..."
2,3,Whiplash,en,"[{'cast_id': 5, 'character': 'Andrew Neimann',..."
3,4,Kahaani,hi,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '..."
4,5,Marine Boy,ko,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred..."
...,...,...,...,...
2995,2996,Chasers,en,"[{'cast_id': 2, 'character': 'Rock Reilly', 'c..."
2996,2997,We Are the Best!,sv,"[{'cast_id': 5, 'character': 'Bobo', 'credit_i..."
2997,2998,The Long Kiss Goodnight,en,"[{'cast_id': 10, 'character': 'Samantha Caine ..."
2998,2999,Along Came Polly,en,"[{'cast_id': 8, 'character': 'Reuben Feffer', ..."
2999,3000,Abduction,en,"[{'cast_id': 2, 'character': 'Nathan Harper', ..."

In [ ]:
list(imdb_df.columns)

['id',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'Keywords',
 'cast',
 'crew',
 'revenue']

In [ ]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [ ]:
imdb_df.rename(columns={'crew':'actors'}, inplace = True)
imdb_df.head(2)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,actors,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435

In [ ]:
imdb_df.rename(columns = {'actors':'crew'},inplace = True)
imdb_df.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [ ]:
imdb_df.sort_values('revenue',ascending = False).head(5)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
1126,1127,"[{'id': 86311, 'name': 'The Avengers Collectio...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://marvel.com/avengers_movie/,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,89.887648,...,4/25/12,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some assembly required.,The Avengers,"[{'id': 242, 'name': 'new york'}, {'id': 5539,...","[{'cast_id': 46, 'character': 'Tony Stark / Ir...","[{'credit_id': '52fe4495c3a368484e02b1cf', 'de...",1519557910
1761,1762,"[{'id': 9485, 'name': 'The Fast and the Furiou...",190000000,"[{'id': 28, 'name': 'Action'}]",http://www.furious7.com/,tt2820852,en,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,27.275687,...,4/1/15,137.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Vengeance Hits Home,Furious 7,"[{'id': 830, 'name': 'car race'}, {'id': 3428,...","[{'cast_id': 17, 'character': 'Dominic Toretto...","[{'credit_id': '52fe4cc8c3a36847f823e681', 'de...",1506249360
2770,2771,"[{'id': 86311, 'name': 'The Avengers Collectio...",280000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,tt2395427,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,37.379420,...,4/22/15,141.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A New Age Has Come.,Avengers: Age of Ultron,"[{'id': 8828, 'name': 'marvel comic'}, {'id': ...","[{'cast_id': 76, 'character': 'Tony Stark / Ir...","[{'credit_id': '55d5f7d4c3a3683e7e0016eb', 'de...",1405403694
684,685,NaN,160000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",http://movies.disney.com/beauty-and-the-beast-...,tt2771200,en,Beauty and the Beast,A live-action adaptation of Disney's version o...,287.253654,...,3/16/17,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Be our guest.,Beauty and the Beast,"[{'id': 254, 'name': 'france'}, {'id': 2343, '...","[{'cast_id': 174, 'character': 'Belle', 'credi...","[{'credit_id': '551879bec3a3681f840004eb', 'de...",1262886337
2322,2323,"[{'id': 8650, 'name': 'Transformers Collection...",195000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,tt1399103,en,Transformers: Dark of the Moon,Sam Witwicky takes his first tenuous steps int...,4.503505,...,6/28/11,154.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The invasion we always feared. An enemy we nev...,Transformers: Dark of the Moon,"[{'id': 305, 'name': 'moon'}, {'id': 1612, 'na...","[{'cast_id': 3, 'character': 'Sam Witwicky', '...","[{'credit_id': '537f0b740e0a2624b40044d0', 'de...",1123746996

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
imdb_df = pd.read_csv('/content/drive/My Drive/Almafiles/imdb_data.csv')

In [ ]:
imdb_df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [ ]:
imdb_df.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [ ]:
imdb_df[['original_title','cast','crew','original_language','revenue']]

,original_title,cast,crew,original_language,revenue
0,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",en,12314651
1,The Princess Diaries 2: Royal Engagement,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",en,95149435
2,Whiplash,"[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",en,13092000
3,Kahaani,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",hi,16000000
4,마린보이,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",ko,3923970
...,...,...,...,...,...
2995,Chasers,"[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",en,1596687
2996,Vi är bäst!,"[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",sv,180590
2997,The Long Kiss Goodnight,"[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",en,89456761
2998,Along Came Polly,"[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",en,171963386
2999,Abduction,"[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",en,82087155

In [ ]:
imdb_df.rename(columns = {'budget':'amount_spent'},inplace = True)
#

In [ ]:
imdb_df[['original_title','amount-spent']]

                                original_title  amount-spent
0                       Hot Tub Time Machine 2      14000000
1     The Princess Diaries 2: Royal Engagement      40000000
2                                     Whiplash       3300000
3                                      Kahaani       1200000
4                                         마린보이             0
...                                        ...           ...
2995                                   Chasers             0
2996                               Vi är bäst!             0
2997                   The Long Kiss Goodnight      65000000
2998                          Along Came Polly      42000000
2999                                 Abduction      35000000

[3000 rows x 2 columns]

In [ ]:
imdb_df.rename(columns = {'amount-spent':'budget'}, inplace = True)

In [ ]:
imdb_df.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [ ]:
imdb_df.sort_values('runtime',ascending = True)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
2785,2786,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",NaN,tt0278675,fr,Revelation,"Since A.D. 50, a mysterious sacred artifact kn...",0.625099,...,4/12/01,0.0,NaN,Released,NaN,Revelation,NaN,"[{'cast_id': 1, 'character': 'Jake Martel', 'c...","[{'credit_id': '52fe4981c3a36847f819d97d', 'de...",10000000
2865,2866,"[{'id': 188197, 'name': 'Cetto La Qualunque - ...",5579750,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2456720,it,Tutto tutto niente niente,NaN,2.208906,...,11/30/12,0.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,Tutto tutto niente niente,"[{'id': 8201, 'name': 'satire'}, {'id': 33501,...","[{'cast_id': 1, 'character': 'Cetto La Qualunq...","[{'credit_id': '52fe4c48c3a36847f82269b9', 'de...",8927600
2645,2646,NaN,0,"[{'id': 10749, 'name': 'Romance'}]",NaN,tt3956312,en,同桌的妳,"In the summer of 1993, timid and shy Zhou Xiao...",0.504000,...,4/25/14,0.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,NaN,My Old Classmate,NaN,"[{'cast_id': 0, 'character': 'Zhou Xiao Zhi', ...","[{'credit_id': '54064dd90e0a2658d800d8d9', 'de...",76000000
591,592,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,tt0768690,ru,А поутру они проснулись,NaN,0.402368,...,12/4/03,0.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,А поутру они проснулись,"[{'id': 4897, 'name': 'multiple character'}, {...","[{'cast_id': 8, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4d449251416c911103f5', 'de...",234748
390,391,NaN,6843500,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2550838,it,Il peggior Natale della mia vita,NaN,3.800073,...,12/22/12,0.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,The Worst Christmas of My Life,NaN,"[{'cast_id': 2, 'character': 'Alberto', 'credi...","[{'credit_id': '52fe4bb79251416c7510bc79', 'de...",10703234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,524,NaN,13000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,tt0049833,en,The Ten Commandments,"Escaping death, a Hebrew infant is raised in a...",11.147040,...,10/5/56,220.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Ten Commandments,"[{'id': 1160, 'name': 'egypt'}, {'id': 2618, '...","[{'cast_id': 9, 'character': 'Moses', 'credit_...","[{'credit_id': '58acab8cc3a3686f0d00093f', 'de...",122700000
1922,1923,NaN,31115000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,tt0056937,en,Cleopatra,Historical epic. The triumphs and tragedy of t...,8.591238,...,6/12/63,248.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The motion picture the world has been waiting ...,Cleopatra,"[{'id': 5049, 'name': 'ancient rome'}, {'id': ...","[{'cast_id': 2, 'character': 'Cleopatra', 'cre...","[{'credit_id': '52fe4493c3a36847f809de91', 'de...",71000000
1211,1212,NaN,18000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,tt1321865,en,Carlos,"The story of Venezuelan revolutionary, Ilich R...",4.558075,...,5/19/10,338.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The man who hijacked the world,Carlos,"[{'id': 1419, 'name': 'gun'}, {'id': 7336, 'na...","[{'cast_id': 4, 'character': ""Ilich Ram√≠rez S...","[{'credit_id': '57352b61c3a3680253000870', 'de...",871279
1335,1336,NaN,6000000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt1107828,ru,Королёв,NaN,0.292296,...,10/29/07,NaN,NaN,Released,NaN,Королёв,NaN,"[{'cast_id': 3, 'character': '–°–µ—Ä–≥–µ–π –ö–...","[{'credit_id': '52fe4db29251416c7513d819', 'de...",31000
2302,2303,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0116485,de,Happy Weekend,NaN,0.002229,...,3/14/96,NaN,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,Happy Weekend,"[{'id': 572, 'name': 'sex'}, {'id': 596, 'name...","[{'cast_id': 0, 'character': 'Joachim Krippo',...",NaN,65335

In [ ]:
imdb_df.sort_values('runtime',ascending = False).head(5)[['original_title','original_language','runtime']]

            original_title original_language  runtime
1211                Carlos                en    338.0
1922             Cleopatra                en    248.0
523   The Ten Commandments                en    220.0
1302         Heaven's Gate                en    219.0
1914     Gods and Generals                en    214.0

In [ ]:
imdb_df.iloc[1:20,-4:-8:-1]

,Keywords,title,tagline,status
1,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...",The Princess Diaries 2: Royal Engagement,It can take a lifetime to find true love; she'...,Released
2,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...",Whiplash,The road to greatness can take you to the edge.,Released
3,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...",Kahaani,NaN,Released
4,NaN,Marine Boy,NaN,Released
5,NaN,Pinocchio and the Emperor of the Night,NaN,Released
6,NaN,The Possession,Fear The Demon That Doesn't Fear God,Released
7,"[{'id': 917, 'name': 'journalism'}, {'id': 163...",Control Room,Different channels. Different truths.,Released
8,"[{'id': 2041, 'name': 'island'}, {'id': 4418, ...",Muppet Treasure Island,Set sail for Muppet mayhem!,Released
9,"[{'id': 11800, 'name': 'mockumentary'}, {'id':...",A Mighty Wind,"Back together for the first time, again.",Released
10,"[{'id': 240, 'name': 'underdog'}, {'id': 276, ...",Rocky,His whole life was a million-to-one shot.,Released
11,"[{'id': 5801, 'name': 'nerd'}, {'id': 6876, 'n...",Revenge of the Nerds II: Nerds in Paradise,They're Back!,Released
12,"[{'id': 255, 'name': 'male nudity'}, {'id': 29...",American Beauty,Look closer.,Released
13,"[{'id': 3605, 'name': 'baseball bat'}, {'id': ...",Be Cool,Everyone is looking for the next big hit,Released
14,"[{'id': 476, 'name': 'self-fulfilling prophecy...",Minority Report,The system is perfect until it comes after you.,Released
15,"[{'id': 379, 'name': 'skinhead'}, {'id': 7492,...",Skinning,Life is sometimes rude game: one mistake can b...,Released
16,"[{'id': 1562, 'name': 'hostage'}, {'id': 2250,...",Red Eye,Fear takes flight.,Released
17,"[{'id': 5565, 'name': 'biography'}, {'id': 180...",The Invisible Woman,His greatest story was the one he could never ...,Released
18,"[{'id': 271, 'name': 'competition'}, {'id': 35...",Chalet Girl,How to marry a billionaire.,Released
19,"[{'id': 779, 'name': 'martial arts'}, {'id': 1...",Transporter 2,The Best In The Business Is Back In The Game.,Released

In [ ]:
imdb_df.loc[1:20:2,['original_title','original_language','runtime']]

                                original_title original_language  runtime
1     The Princess Diaries 2: Royal Engagement                en    113.0
3                                      Kahaani                hi    122.0
5       Pinocchio and the Emperor of the Night                en     83.0
7                                 Control Room                en     84.0
9                                A Mighty Wind                en     91.0
11  Revenge of the Nerds II: Nerds in Paradise                en     98.0
13                                     Be Cool                en    118.0
15                                     Šišanje                sr     97.0
17                         The Invisible Woman                en    111.0
19                               Transporter 2                en     87.0

In [ ]:
imdb_df.sort_values('budget',ascending = False).head(5)[['original_title','budget']]

                                   original_title     budget
2135  Pirates of the Caribbean: On Stranger Tides  380000000
2209     Pirates of the Caribbean: At World's End  300000000
2770                      Avengers: Age of Ultron  280000000
1425                             Superman Returns  270000000
1270                                  John Carter  260000000

In [ ]:
english_movies = imdb_df.loc[:,'original_language'] == 'en'

In [ ]:
english_movies.head()

0    True
1    True
2    True
3    True
4    True
Name: original_language, dtype: bool

In [ ]:
df1 = imdb_df.loc[:,'original_language']=='hi'
df1

0       False
1       False
2       False
3       False
4       False
        ...
2995    False
2996    False
2997    False
2998    False
2999    False
Name: original_language, Length: 3000, dtype: bool

In [ ]:
df1.head()

0    False
1    False
2    False
3    False
4    False
Name: original_language, dtype: bool

In [ ]:
filter = imdb_df.loc[:,'original_language']=='en'

In [ ]:
x = imdb_df[filter]

In [ ]:
x

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,en,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,en,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,4/22/94,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,en,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,3/28/13,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,10/11/96,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,1/16/04,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,9/22/11,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

In [ ]:
filter = imdb_df.loc[:,'original_language']=='hi'
y = imdb_df[filter]
y

Empty DataFrame
Columns: [id, belongs_to_collection, budget, genres, homepage, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, runtime, spoken_languages, status, tagline, title, Keywords, cast, crew, revenue]
Index: []

[0 rows x 23 columns]

In [ ]:
imdb_df.loc[:,'hrt']=imdb_df.loc[:,'runtime']*0.5

In [ ]:
imdb_df[['original_title','runtime','hrt']]

                                original_title  runtime   hrt
0                       Hot Tub Time Machine 2     93.0  46.5
1     The Princess Diaries 2: Royal Engagement    113.0  56.5
2                                     Whiplash    105.0  52.5
3                                      Kahaani    122.0  61.0
4                                         마린보이    118.0  59.0
...                                        ...      ...   ...
2995                                   Chasers    102.0  51.0
2996                               Vi är bäst!    102.0  51.0
2997                   The Long Kiss Goodnight    120.0  60.0
2998                          Along Came Polly     90.0  45.0
2999                                 Abduction    106.0  53.0

[3000 rows x 3 columns]

In [ ]:
imdb_df.rename(columns = {'hrt':'half_run_time'}, inplace = True)
imdb_df

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,half_run_time
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,46.5
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,56.5
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,52.5
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,en,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,61.0
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,en,마린보이,Marine Boy is the story of a former national s...,1.148070,...,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,51.0
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,en,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,51.0
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,60.0
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,45.0
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,53.0

In [ ]:
imdb_df.loc[:,'profit'] = imdb_df.loc[:,'revenue'] - imdb_df.loc[:,'budget']
imdb_df[['original_title','revenue','budget','profit']]

                                original_title    revenue    budget     profit
0                       Hot Tub Time Machine 2   12314651  14000000   -1685349
1     The Princess Diaries 2: Royal Engagement   95149435  40000000   55149435
2                                     Whiplash   13092000   3300000    9792000
3                                      Kahaani   16000000   1200000   14800000
4                                         마린보이    3923970         0    3923970
...                                        ...        ...       ...        ...
2995                                   Chasers    1596687         0    1596687
2996                               Vi är bäst!     180590         0     180590
2997                   The Long Kiss Goodnight   89456761  65000000   24456761
2998                          Along Came Polly  171963386  42000000  129963386
2999                                 Abduction   82087155  35000000   47087155

[3000 rows x 4 columns]

In [ ]:
imdb_df.loc[:,'no profit']= imdb_df.loc[:,'profit']<0

In [ ]:
imdb_df

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,status,tagline,title,Keywords,cast,crew,revenue,half_run_time,profit,no profit
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,46.5,-1685349,True
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,56.5,55149435,False
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,52.5,9792000,False
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,en,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,61.0,14800000,False
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,en,마린보이,Marine Boy is the story of a former national s...,1.148070,...,Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,59.0,3923970,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,51.0,1596687,False
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,en,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,51.0,180590,False
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,60.0,24456761,False
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,45.0,129963386,False
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,53.0,47087155,False

In [ ]:
imdb_df.drop('profit', inplace = True, axis = 1)

In [ ]:
imdb_df.iloc[:,-1:-8:-1]

,no profit,half_run_time,revenue,crew,cast,Keywords,title
0,True,46.5,12314651,"[{'credit_id': '59ac067c92514107af02c8c8', 'de...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'id': 4379, 'name': 'time travel'}, {'id': 9...",Hot Tub Time Machine 2
1,False,56.5,95149435,"[{'credit_id': '52fe43fe9251416c7502563d', 'de...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'id': 2505, 'name': 'coronation'}, {'id': 42...",The Princess Diaries 2: Royal Engagement
2,False,52.5,13092000,"[{'credit_id': '54d5356ec3a3683ba0000039', 'de...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...",Whiplash
3,False,61.0,16000000,"[{'credit_id': '52fe48779251416c9108d6eb', 'de...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'id': 10092, 'name': 'mystery'}, {'id': 1054...",Kahaani
4,False,59.0,3923970,"[{'credit_id': '52fe464b9251416c75073b43', 'de...","[{'cast_id': 3, 'character': 'Chun-soo', 'cred...",NaN,Marine Boy
...,...,...,...,...,...,...,...
2995,False,51.0,1596687,"[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...",Chasers
2996,False,51.0,180590,"[{'credit_id': '5716b72ac3a3686678012c84', 'de...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...",We Are the Best!
2997,False,60.0,89456761,"[{'credit_id': '52fe443a9251416c7502d579', 'de...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'id': 441, 'name': 'assassination'}, {'id': ...",The Long Kiss Goodnight
2998,False,45.0,171963386,"[{'credit_id': '556f817b9251410866000a63', 'de...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...",Along Came Polly
2999,False,53.0,82087155,"[{'credit_id': '5391990d0e0a260fb5001629', 'de...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...",Abduction

In [ ]:
imdb_df.drop('half_run_time', inplace = True, axis = 1)

KeyError: ignored

In [ ]:
imdb_df

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,no profit
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,True
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,False
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,False
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,en,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,False
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,en,마린보이,Marine Boy is the story of a former national s...,1.148070,...,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,False
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,en,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,False
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,False
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,False
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,False

In [ ]:
def to_upper(col):
  return col.upper()

In [ ]:
word = 'people'
to_upper(word)

'PEOPLE'

In [ ]:
imdb_df['capitalized_title']=imdb_df['title'].apply(to_upper)

In [ ]:
imdb_df.iloc[:,-1:-8:-1]

,capitalized_title,no profit,revenue,crew,cast,Keywords,title
0,HOT TUB TIME MACHINE 2,True,12314651,"[{'credit_id': '59ac067c92514107af02c8c8', 'de...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'id': 4379, 'name': 'time travel'}, {'id': 9...",Hot Tub Time Machine 2
1,THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT,False,95149435,"[{'credit_id': '52fe43fe9251416c7502563d', 'de...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'id': 2505, 'name': 'coronation'}, {'id': 42...",The Princess Diaries 2: Royal Engagement
2,WHIPLASH,False,13092000,"[{'credit_id': '54d5356ec3a3683ba0000039', 'de...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...",Whiplash
3,KAHAANI,False,16000000,"[{'credit_id': '52fe48779251416c9108d6eb', 'de...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'id': 10092, 'name': 'mystery'}, {'id': 1054...",Kahaani
4,MARINE BOY,False,3923970,"[{'credit_id': '52fe464b9251416c75073b43', 'de...","[{'cast_id': 3, 'character': 'Chun-soo', 'cred...",NaN,Marine Boy
...,...,...,...,...,...,...,...
2995,CHASERS,False,1596687,"[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...",Chasers
2996,WE ARE THE BEST!,False,180590,"[{'credit_id': '5716b72ac3a3686678012c84', 'de...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...",We Are the Best!
2997,THE LONG KISS GOODNIGHT,False,89456761,"[{'credit_id': '52fe443a9251416c7502d579', 'de...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'id': 441, 'name': 'assassination'}, {'id': ...",The Long Kiss Goodnight
2998,ALONG CAME POLLY,False,171963386,"[{'credit_id': '556f817b9251410866000a63', 'de...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...",Along Came Polly
2999,ABDUCTION,False,82087155,"[{'credit_id': '5391990d0e0a260fb5001629', 'de...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...",Abduction

In [ ]:
def to_lower(col):
  return col.lower()

In [ ]:
word = 'POP'
to_lower(word)

'pop'

In [ ]:
imdb_df['lowercase_title']=imdb_df['capitalized_title'].apply(to_lower)

In [ ]:
imdb_df[['capitalized_title','lowercase_title','title']]

,capitalized_title,lowercase_title,title
0,HOT TUB TIME MACHINE 2,hot tub time machine 2,Hot Tub Time Machine 2
1,THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT,the princess diaries 2: royal engagement,The Princess Diaries 2: Royal Engagement
2,WHIPLASH,whiplash,Whiplash
3,KAHAANI,kahaani,Kahaani
4,MARINE BOY,marine boy,Marine Boy
...,...,...,...
2995,CHASERS,chasers,Chasers
2996,WE ARE THE BEST!,we are the best!,We Are the Best!
2997,THE LONG KISS GOODNIGHT,the long kiss goodnight,The Long Kiss Goodnight
2998,ALONG CAME POLLY,along came polly,Along Came Polly
2999,ABDUCTION,abduction,Abduction

In [ ]:
import numpy as np
def revised_profit(revenue,budget):
  if revenue > 0:
    new_profit = revenue - budget
  else:
    new_profit = np.nan
  return new_profit

In [ ]:
imdb_df['revised_profit'] = imdb_df.apply(lambda x: revised_profit(x['revenue'], x['budget']),axis = 1)

In [ ]:
imdb_df

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,tagline,title,Keywords,cast,crew,revenue,no profit,capitalized_title,lowercase_title,revised_profit
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,True,HOT TUB TIME MACHINE 2,hot tub time machine 2,-1685349
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,False,THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT,the princess diaries 2: royal engagement,55149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,False,WHIPLASH,whiplash,9792000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,en,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,False,KAHAANI,kahaani,14800000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,en,마린보이,Marine Boy is the story of a former national s...,1.148070,...,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,False,MARINE BOY,marine boy,3923970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,False,CHASERS,chasers,1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,en,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,False,WE ARE THE BEST!,we are the best!,180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,False,THE LONG KISS GOODNIGHT,the long kiss goodnight,24456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,False,ALONG CAME POLLY,along came polly,129963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,False,ABDUCTION,abduction,47087155

In [ ]:
imdb1 = imdb_df[imdb_df['runtime']>=150]
imdb1.head(5)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,tagline,title,Keywords,cast,crew,revenue,no profit,capitalized_title,lowercase_title,revised_profit
47,48,NaN,44000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://thehatefuleight.com/,tt3460252,en,The Hateful Eight,Bounty hunters seek shelter from a raging bliz...,20.328822,...,No one comes up here without a damn good reason.,The Hateful Eight,"[{'id': 801, 'name': 'bounty hunter'}, {'id': ...","[{'cast_id': 22, 'character': 'Major Marquis W...","[{'credit_id': '538aa95ec3a368714e0005b3', 'de...",155760117,False,THE HATEFUL EIGHT,the hateful eight,111760117
51,52,NaN,12000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,tt0059243,en,The Great Race,"Professional daredevil and white-suited hero, ...",4.473327,...,"The movie with 20,000-mile or one-million-laug...",The Great Race,"[{'id': 9253, 'name': 'slapstick'}, {'id': 159...","[{'cast_id': 1, 'character': 'Prof. Fate', 'cr...","[{'credit_id': '52fe445e9251416c75032581', 'de...",25333333,False,THE GREAT RACE,the great race,13333333
76,77,NaN,500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0242572,en,Kandukondain Kandukondain,Two young women with differing views on love f...,0.660663,...,NaN,Kandukondain Kandukondain,NaN,"[{'cast_id': 1, 'character': 'Manohar', 'credi...","[{'credit_id': '52fe47c7c3a368484e0d8f41', 'de...",500000,False,KANDUKONDAIN KANDUKONDAIN,kandukondain kandukondain,0
97,98,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,tt1772980,en,Mishen,"In the year 2020, a group of wealthy Moscovite...",1.042112,...,NaN,Target,NaN,"[{'cast_id': 1001, 'character': 'Victor', 'cre...","[{'credit_id': '58cdbad4c3a36850e9011085', 'de...",73000,False,TARGET,target,73000
107,108,NaN,72000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0112573,en,Braveheart,"Enraged at the slaughter of Murron, his new br...",20.755149,...,Every man dies. Not every man truly lives.,Braveheart,"[{'id': 30, 'name': 'individual'}, {'id': 388,...","[{'cast_id': 5, 'character': 'William Wallace'...","[{'credit_id': '52fe4225c3a36847f80079c1', 'de...",210000000,False,BRAVEHEART,braveheart,138000000

In [ ]:
imdb1[['title','runtime']]

                          title  runtime
47            The Hateful Eight    167.0
51               The Great Race    160.0
76    Kandukondain Kandukondain    157.0
97                       Target    158.0
107                  Braveheart    177.0
...                         ...      ...
2860                     Gandhi    191.0
2877                    Amadeus    160.0
2932           The Sand Pebbles    182.0
2944             Apocalypse Now    153.0
2965             Les Misérables    157.0

[135 rows x 2 columns]

In [ ]:
imdb2 = imdb_df[(imdb_df['runtime']<150) & (imdb_df['runtime']>100)]

In [ ]:
imdb2

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,tagline,title,Keywords,cast,crew,revenue,no profit,capitalized_title,lowercase_title,revised_profit
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,False,THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT,the princess diaries 2: royal engagement,55149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,False,WHIPLASH,whiplash,9792000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,en,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,False,KAHAANI,kahaani,14800000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,en,마린보이,Marine Boy is the story of a former national s...,1.148070,...,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,False,MARINE BOY,marine boy,3923970
10,11,"[{'id': 1575, 'name': 'Rocky Collection', 'pos...",1000000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0075148,en,Rocky,"When world heavyweight boxing champion, Apollo...",14.774066,...,His whole life was a million-to-one shot.,Rocky,"[{'id': 240, 'name': 'underdog'}, {'id': 276, ...","[{'cast_id': 16, 'character': 'Rocky Balboa', ...","[{'credit_id': '579948e9c3a36874e9007b0b', 'de...",117235147,False,ROCKY,rocky,116235147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2994,2995,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0105327,en,School Ties,When David Greene receives a football scholars...,7.438381,...,Just because you’re accepted doesn’t mean you ...,School Ties,"[{'id': 6075, 'name': 'sport'}, {'id': 10144, ...","[{'cast_id': 2, 'character': 'David Greene', '...","[{'credit_id': '5637777ac3a3681b4d01f9f5', 'de...",14715067,False,SCHOOL TIES,school ties,14715067
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,False,CHASERS,chasers,1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,en,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,False,WE ARE THE BEST!,we are the best!,180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,False,THE LONG KISS GOODNIGHT,the long kiss goodnight,24456761
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,False,ABDUCTION,abduction,47087155

In [ ]:
imdb1.shape

(135, 27)

In [ ]:
imdb2.shape

(1586, 27)

In [ ]:
imdb_dfnew = pd.concat([imdb1,imdb2],axis = 0)
imdb_dfnew

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,tagline,title,Keywords,cast,crew,revenue,no profit,capitalized_title,lowercase_title,revised_profit
47,48,NaN,44000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://thehatefuleight.com/,tt3460252,en,The Hateful Eight,Bounty hunters seek shelter from a raging bliz...,20.328822,...,No one comes up here without a damn good reason.,The Hateful Eight,"[{'id': 801, 'name': 'bounty hunter'}, {'id': ...","[{'cast_id': 22, 'character': 'Major Marquis W...","[{'credit_id': '538aa95ec3a368714e0005b3', 'de...",155760117,False,THE HATEFUL EIGHT,the hateful eight,111760117
51,52,NaN,12000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,tt0059243,en,The Great Race,"Professional daredevil and white-suited hero, ...",4.473327,...,"The movie with 20,000-mile or one-million-laug...",The Great Race,"[{'id': 9253, 'name': 'slapstick'}, {'id': 159...","[{'cast_id': 1, 'character': 'Prof. Fate', 'cr...","[{'credit_id': '52fe445e9251416c75032581', 'de...",25333333,False,THE GREAT RACE,the great race,13333333
76,77,NaN,500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0242572,en,Kandukondain Kandukondain,Two young women with differing views on love f...,0.660663,...,NaN,Kandukondain Kandukondain,NaN,"[{'cast_id': 1, 'character': 'Manohar', 'credi...","[{'credit_id': '52fe47c7c3a368484e0d8f41', 'de...",500000,False,KANDUKONDAIN KANDUKONDAIN,kandukondain kandukondain,0
97,98,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,tt1772980,en,Mishen,"In the year 2020, a group of wealthy Moscovite...",1.042112,...,NaN,Target,NaN,"[{'cast_id': 1001, 'character': 'Victor', 'cre...","[{'credit_id': '58cdbad4c3a36850e9011085', 'de...",73000,False,TARGET,target,73000
107,108,NaN,72000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0112573,en,Braveheart,"Enraged at the slaughter of Murron, his new br...",20.755149,...,Every man dies. Not every man truly lives.,Braveheart,"[{'id': 30, 'name': 'individual'}, {'id': 388,...","[{'cast_id': 5, 'character': 'William Wallace'...","[{'credit_id': '52fe4225c3a36847f80079c1', 'de...",210000000,False,BRAVEHEART,braveheart,138000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2994,2995,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0105327,en,School Ties,When David Greene receives a football scholars...,7.438381,...,Just because you’re accepted doesn’t mean you ...,School Ties,"[{'id': 6075, 'name': 'sport'}, {'id': 10144, ...","[{'cast_id': 2, 'character': 'David Greene', '...","[{'credit_id': '5637777ac3a3681b4d01f9f5', 'de...",14715067,False,SCHOOL TIES,school ties,14715067
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,False,CHASERS,chasers,1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,en,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,False,WE ARE THE BEST!,we are the best!,180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,False,THE LONG KISS GOODNIGHT,the long kiss goodnight,24456761
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,False,ABDUCTION,abduction,47087155

In [ ]:
imdb_dfnew1 = pd.concat([imdb1,imdb2], axis = 1)

In [ ]:
imdb_dfnew1

/usr/local/lib/python3.10/dist-packages/IPython/lib/pretty.py:700: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  output = repr(obj)
/usr/local/lib/python3.10/dist-packages/google/colab/_interactive_table_hint_button.py:178: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df_html=dataframe._repr_html_(),  # pylint: disable=protected-access

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,tagline,title,Keywords,cast,crew,revenue,no profit,capitalized_title,lowercase_title,revised_profit
47,48.0,NaN,44000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://thehatefuleight.com/,tt3460252,en,The Hateful Eight,Bounty hunters seek shelter from a raging bliz...,20.328822,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,52.0,NaN,12000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,tt0059243,en,The Great Race,"Professional daredevil and white-suited hero, ...",4.473327,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,77.0,NaN,500000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0242572,en,Kandukondain Kandukondain,Two young women with differing views on love f...,0.660663,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,98.0,NaN,0.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,tt1772980,en,Mishen,"In the year 2020, a group of wealthy Moscovite...",1.042112,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,108.0,NaN,72000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0112573,en,Braveheart,"Enraged at the slaughter of Murron, his new br...",20.755149,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Just because you’re accepted doesn’t mean you ...,School Ties,"[{'id': 6075, 'name': 'sport'}, {'id': 10144, ...","[{'cast_id': 2, 'character': 'David Greene', '...","[{'credit_id': '5637777ac3a3681b4d01f9f5', 'de...",14715067.0,False,SCHOOL TIES,school ties,14715067.0
2995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687.0,False,CHASERS,chasers,1596687.0
2996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590.0,False,WE ARE THE BEST!,we are the best!,180590.0
2997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761.0,False,THE LONG KISS GOODNIGHT,the long kiss goodnight,24456761.0
2999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155.0,False,ABDUCTION,abduction,47087155.0

In [ ]:
y

Empty DataFrame
Columns: [id, belongs_to_collection, budget, genres, homepage, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, runtime, spoken_languages, status, tagline, title, Keywords, cast, crew, revenue]
Index: []

[0 rows x 23 columns]

In [ ]:
df_new = pd.merge(imdb1,imdb2,how='right',on = 'original_language')

In [ ]:
df_new.head(5)

,id_x,belongs_to_collection_x,budget_x,genres_x,homepage_x,imdb_id_x,original_language,original_title_x,overview_x,popularity_x,...,tagline_y,title_y,Keywords_y,cast_y,crew_y,revenue_y,no profit_y,capitalized_title_y,lowercase_title_y,revised_profit_y
0,48,NaN,44000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://thehatefuleight.com/,tt3460252,en,The Hateful Eight,Bounty hunters seek shelter from a raging bliz...,20.328822,...,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,False,THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT,the princess diaries 2: royal engagement,55149435
1,52,NaN,12000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,tt0059243,en,The Great Race,"Professional daredevil and white-suited hero, ...",4.473327,...,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,False,THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT,the princess diaries 2: royal engagement,55149435
2,77,NaN,500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0242572,en,Kandukondain Kandukondain,Two young women with differing views on love f...,0.660663,...,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,False,THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT,the princess diaries 2: royal engagement,55149435
3,98,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,tt1772980,en,Mishen,"In the year 2020, a group of wealthy Moscovite...",1.042112,...,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,False,THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT,the princess diaries 2: royal engagement,55149435
4,108,NaN,72000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0112573,en,Braveheart,"Enraged at the slaughter of Murron, his new br...",20.755149,...,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,False,THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT,the princess diaries 2: royal engagement,55149435

In [ ]:
result = imdb1.groupby('original_language')

In [ ]:
for name,group in result:
  print(name)
  print(group)

en
        id belongs_to_collection    budget  \
47      48                   NaN  44000000
51      52                   NaN  12000000
76      77                   NaN    500000
97      98                   NaN         0
107    108                   NaN  72000000
...    ...                   ...       ...
2860  2861                   NaN  22000000
2877  2878                   NaN  18000000
2932  2933                   NaN  12000000
2944  2945                   NaN  31500000
2965  2966                   NaN  61000000

                                                 genres  \
47    [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
51    [{'id': 12, 'name': 'Adventure'}, {'id': 35, '...
76    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
97    [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
107   [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
...                                                 ...
2860  [{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...
2877  [{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...
2932  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
2944  [{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...
2965  [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...

                              homepage    imdb_id original_language  \
47         http://thehatefuleight.com/  tt3460252                en
51                                 NaN  tt0059243                en
76                                 NaN  tt0242572                en
97                                 NaN  tt1772980                en
107                                NaN  tt0112573                en
...                                ...        ...               ...
2860                               NaN  tt0083987                en
2877                               NaN  tt0086879                en
2932                               NaN  tt0060934                en
2944      http://www.apocalypsenow.com  tt0078788                en
2965  http://www.lesmiserablesfilm.com  tt1707386                en

                 original_title  \
47            The Hateful Eight
51               The Great Race
76    Kandukondain Kandukondain
97                       Mishen
107                  Braveheart
...                         ...
2860                     Gandhi
2877                    Amadeus
2932           The Sand Pebbles
2944             Apocalypse Now
2965             Les Misérables

                                               overview  popularity  ...  \
47    Bounty hunters seek shelter from a raging bliz...   20.328822  ...
51    Professional daredevil and white-suited hero, ...    4.473327  ...
76    Two young women with differing views on love f...    0.660663  ...
97    In the year 2020, a group of wealthy Moscovite...    1.042112  ...
107   Enraged at the slaughter of Murron, his new br...   20.755149  ...
...                                                 ...         ...  ...
2860  In the early years of the 20th century, Mohand...   12.383755  ...
2877  The incredible story of genius musician Wolfga...   12.677592  ...
2932  Engineer Jake Holman arrives aboard the gunboa...   11.354247  ...
2944  At the height of the Vietnam war, Captain Benj...   13.596300  ...
2965  An adaptation of the successful stage musical ...   13.524080  ...

                                                tagline  \
47     No one comes up here without a damn good reason.
51    The movie with 20,000-mile or one-million-laug...
76                                                  NaN
97                                                  NaN
107          Every man dies. Not every man truly lives.
...                                                 ...
2860             His triumph changed the world forever.
2877                 ...Everything you've heard is true
2932  This is the heroic story of the men on the U.S...
2944                                 This is the end...
2965                          Fight. Dream. Hope. Love.

                          title  \
47            The Hateful Eight
51               The Great Race
76    Kandukondain Kandukondain
97                       Target
107                  Braveheart
...                         ...
2860                     Gandhi
2877                    Amadeus
2932           The Sand Pebbles
2944             Apocalypse Now
2965             Les Misérables

                                               Keywords  \
47    [{'id': 801, 'name': 'bounty hunter'}, {'id': ...
51    [{'id': 9253, 'name': 'slapstick'}, {'id': 159...
76                                                  NaN
97                                                  NaN
107   [{'id': 30, 'name': 'individual'}, {'id': 388,...
...                                                 ...
2860  [{'id': 789, 'name': 'muslim'}, {'id': 958, 'n...
2877  [{'id': 131, 'name': 'italy'}, {'id': 1233, 'n...
2932  [{'id': 440, 'name': 'missionary'}, {'id': 478...
2944  [{'id': 1008, 'name': 'guerrilla'}, {'id': 126...
2965  [{'id': 254, 'name': 'france'}, {'id': 642, 'n...

                                                   cast  \
47    [{'cast_id': 22, 'character': 'Major Marquis W...
51    [{'cast_id': 1, 'character': 'Prof. Fate', 'cr...
76    [{'cast_id': 1, 'character': 'Manohar', 'credi...
97    [{'cast_id': 1001, 'character': 'Victor', 'cre...
107   [{'cast_id': 5, 'character': 'William Wallace'...
...                                                 ...
2860  [{'cast_id': 7, 'character': 'Mahatma Gandhi',...
2877  [{'cast_id': 4, 'character': 'Antonio Salieri'...
2932  [{'cast_id': 1, 'character': 'Jake Holman', 'c...
2944  [{'cast_id': 29, 'character': 'Captain Benjami...
2965                                                NaN

                                                   crew    revenue no profit  \
47    [{'credit_id': '538aa95ec3a368714e0005b3', 'de...  155760117     False
51    [{'credit_id': '52fe445e9251416c75032581', 'de...   25333333     False
76    [{'credit_id': '52fe47c7c3a368484e0d8f41', 'de...     500000     False
97    [{'credit_id': '58cdbad4c3a36850e9011085', 'de...      73000     False
107   [{'credit_id': '52fe4225c3a36847f80079c1', 'de...  210000000     False
...                                                 ...        ...       ...
2860  [{'credit_id': '574dc2c3925141120e0000cb', 'de...   77737889     False
2877  [{'credit_id': '57d19657c3a3684b9d008667', 'de...   51973029     False
2932  [{'credit_id': '52fe442ec3a36847f8087029', 'de...   20000000     False
2944  [{'credit_id': '52fe4210c3a36847f80012c7', 'de...   89460381     False
2965                                                NaN  441809770     False

              capitalized_title            lowercase_title revised_profit
47            THE HATEFUL EIGHT          the hateful eight      111760117
51               THE GREAT RACE             the great race       13333333
76    KANDUKONDAIN KANDUKONDAIN  kandukondain kandukondain              0
97                       TARGET                     target          73000
107                  BRAVEHEART                 braveheart      138000000
...                         ...                        ...            ...
2860                     GANDHI                     gandhi       55737889
2877                    AMADEUS                    amadeus       33973029
2932           THE SAND PEBBLES           the sand pebbles        8000000
2944             APOCALYPSE NOW             apocalypse now       57960381
2965             LES MISÉRABLES             les misérables      380809770

[135 rows x 27 columns]

In [ ]:
res = imdb1.groupby('original_language')['runtime'].max()
res.head()

original_language
en    338.0
Name: runtime, dtype: float64

In [ ]:
res1 = imdb1.groupby('original_language')['runtime'].min()
res1.head()

original_language
en    150.0
Name: runtime, dtype: float64

In [ ]:
imdb1.sort_values('runtime',ascending = True).head()[['original_title','original_language','runtime']]

            original_title original_language  runtime
462                Contact                en    150.0
2828       Bajirao Mastani                en    150.0
1808            Ônibus 174                en    150.0
2688  The Raid 2: Berandal                en    150.0
1899   Deewane Huye Paagal                en    150.0

In [ ]:
res1 = imdb1.groupby('original_language').agg({'runtime':['min','max','mean']})

In [ ]:
res1.head

<bound method NDFrame.head of                   runtime
                      min    max       mean
original_language
en                  150.0  338.0  169.02963>

In [ ]:
imdb1_new = imdb1.groupby(['original_language','id'])

In [ ]:
for name,group in imdb1_new:
  print(name)
  print(group)

('en', 48)
    id belongs_to_collection    budget  \
47  48                   NaN  44000000

                                               genres  \
47  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...

                       homepage    imdb_id original_language  \
47  http://thehatefuleight.com/  tt3460252                en

       original_title                                           overview  \
47  The Hateful Eight  Bounty hunters seek shelter from a raging bliz...

    popularity  ...                                           tagline  \
47   20.328822  ...  No one comes up here without a damn good reason.

                title                                           Keywords  \
47  The Hateful Eight  [{'id': 801, 'name': 'bounty hunter'}, {'id': ...

                                                 cast  \
47  [{'cast_id': 22, 'character': 'Major Marquis W...

                                                 crew    revenue no profit  \
47  [{'credit_id': '538aa95ec3a368714e0005b3', 'de...  155760117     False

    capitalized_title    lowercase_title revised_profit
47  THE HATEFUL EIGHT  the hateful eight      111760117

[1 rows x 27 columns]
('en', 52)
    id belongs_to_collection    budget  \
51  52                   NaN  12000000

                                               genres homepage    imdb_id  \
51  [{'id': 12, 'name': 'Adventure'}, {'id': 35, '...      NaN  tt0059243

   original_language  original_title  \
51                en  The Great Race

                                             overview  popularity  ...  \
51  Professional daredevil and white-suited hero, ...    4.473327  ...

                                              tagline           title  \
51  The movie with 20,000-mile or one-million-laug...  The Great Race

                                             Keywords  \
51  [{'id': 9253, 'name': 'slapstick'}, {'id': 159...

                                                 cast  \
51  [{'cast_id': 1, 'character': 'Prof. Fate', 'cr...

                                                 crew   revenue no profit  \
51  [{'credit_id': '52fe445e9251416c75032581', 'de...  25333333     False

   capitalized_title lowercase_title revised_profit
51    THE GREAT RACE  the great race       13333333

[1 rows x 27 columns]
('en', 77)
    id belongs_to_collection  budget  \
76  77                   NaN  500000

                                               genres homepage    imdb_id  \
76  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...      NaN  tt0242572

   original_language             original_title  \
76                en  Kandukondain Kandukondain

                                             overview  popularity  ...  \
76  Two young women with differing views on love f...    0.660663  ...

   tagline                      title Keywords  \
76     NaN  Kandukondain Kandukondain      NaN

                                                 cast  \
76  [{'cast_id': 1, 'character': 'Manohar', 'credi...

                                                 crew revenue no profit  \
76  [{'credit_id': '52fe47c7c3a368484e0d8f41', 'de...  500000     False

            capitalized_title            lowercase_title revised_profit
76  KANDUKONDAIN KANDUKONDAIN  kandukondain kandukondain              0

[1 rows x 27 columns]
('en', 98)
    id belongs_to_collection  budget  \
97  98                   NaN       0

                                               genres homepage    imdb_id  \
97  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...      NaN  tt1772980

   original_language original_title  \
97                en         Mishen

                                             overview  popularity  ...  \
97  In the year 2020, a group of wealthy Moscovite...    1.042112  ...

   tagline   title Keywords  \
97     NaN  Target      NaN

                                                 cast  \
97  [{'cast_id': 1001, 'character': 'Victor', 'cre...

                                                 crew revenue no profit  \
97  [{'credit_id': '58cdbad4c3a36850e9011085', 'de...   73000     False

   capitalized_title lowercase_title revised_profit
97            TARGET          target          73000

[1 rows x 27 columns]
('en', 108)
      id belongs_to_collection    budget  \
107  108                   NaN  72000000

                                                genres homepage    imdb_id  \
107  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...      NaN  tt0112573

    original_language original_title  \
107                en     Braveheart

                                              overview  popularity  ...  \
107  Enraged at the slaughter of Murron, his new br...   20.755149  ...

                                        tagline       title  \
107  Every man dies. Not every man truly lives.  Braveheart

                                              Keywords  \
107  [{'id': 30, 'name': 'individual'}, {'id': 388,...

                                                  cast  \
107  [{'cast_id': 5, 'character': 'William Wallace'...

                                                  crew    revenue no profit  \
107  [{'credit_id': '52fe4225c3a36847f80079c1', 'de...  210000000     False

    capitalized_title lowercase_title revised_profit
107        BRAVEHEART      braveheart      138000000

[1 rows x 27 columns]
('en', 110)
      id belongs_to_collection    budget  \
109  110                   NaN  15000000

                                                genres homepage    imdb_id  \
109  [{'id': 18, 'name': 'Drama'}, {'id': 12, 'name...      NaN  tt0060491

    original_language original_title  \
109                en         Hawaii

                                              overview  popularity  ...  \
109  Abner Hale, a rigid and humorless New England ...    3.210693  ...

                                        tagline   title  \
109  James Michener's novel reaches the screen.  Hawaii

                                              Keywords  \
109  [{'id': 1668, 'name': 'hawaii'}, {'id': 6917, ...

                                                  cast  \
109  [{'cast_id': 4, 'character': 'Jerusha Bromley'...

                                                  crew   revenue no profit  \
109  [{'credit_id': '557ffdd79251412f120015ee', 'de...  34562222     False

    capitalized_title lowercase_title revised_profit
109            HAWAII          hawaii       19562222

[1 rows x 27 columns]
('en', 115)
      id                              belongs_to_collection    budget  \
114  115  [{'id': 119, 'name': 'The Lord of the Rings Co...  93000000

                                                genres  \
114  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...

                           homepage    imdb_id original_language  \
114  http://www.lordoftherings.net/  tt0120737                en

                                        original_title  \
114  The Lord of the Rings: The Fellowship of the Ring

                                              overview  popularity  ...  \
114  Young hobbit Frodo Baggins, after inheriting a...   32.070725  ...

                       tagline  \
114  One ring to rule them all

                                                 title  \
114  The Lord of the Rings: The Fellowship of the Ring

                                              Keywords  \
114  [{'id': 603, 'name': 'elves'}, {'id': 604, 'na...

                                                  cast  \
114  [{'cast_id': 28, 'character': 'Frodo Baggins',...

                                                  crew    revenue no profit  \
114  [{'credit_id': '52fe421ac3a36847f80043ef', 'de...  871368364     False

                                     capitalized_title  \
114  THE LORD OF THE RINGS: THE FELLOWSHIP OF THE RING

                                       lowercase_title revised_profit
114  the lord of the rings: the fellowship of the ring      778368364

[1 rows x 27 columns]
('en', 141)
      id belongs_to_collection    budget  \
140  141                   NaN  14320000

                                                genres homepage    imdb_id  \
140  [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...      NaN  tt0063642

    original_language original_title  \
140                en          Star!

                                              overview  popularity  ...  \
140  Gertrude Lawrence rises to stage stardom at th...    0.585397  ...

                               tagline  title  \
140  Happiness is a girl called Julie!  Star!

                                              Keywords  \
140  [{'id': 4344, 'name': 'musical'}, {'id': 12990...

                                                  cast  \
140  [{'cast_id': 3, 'character': 'Gertrude Lawrenc...

                                                  crew   revenue no profit  \
140  [{'credit_id': '52fe484bc3a36847f81602c9', 'de...  14000000      True

    capitalized_title lowercase_title revised_profit
140             STAR!           star!        -320000

[1 rows x 27 columns]
('en', 248)
      id belongs_to_collection    budget  \
247  248                   NaN  18339750

                                                genres  \
247  [{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...

                            homepage    imdb_id original_language  \
247  http://www.downfallthefilm.com/  tt0363163                en

    original_title                                           overview  \
247  Der Untergang  In April of 1945, Germany stands at the brink ...

     popularity  ...                                     tagline     title  \
247     7.69224  ...  April 1945, a nation awaits its...Downfall  Downfall

                                              Keywords  \
247  [{'id': 220, 'name': 'berlin'}, {'id': 351, 'n...

                                                  cast  \
247  [{'cast_id': 1, 'character': 'Adolf Hitler', '...

                                                  crew   revenue no profit  \
247  [{'credit_id': '5754589bc3a368346e001042', 'de...  92180910     False

    capitalized_title lowercase_title revised_profit
247          DOWNFALL        downfall       73841160

[1 rows x 27 columns]
('en', 306)
      id belongs_to_collection     budget  \
305  306                   NaN  100000000

                                                genres  \
305  [{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...

                                       homepage    imdb_id original_language  \
305  http://video.movies.go.com/gangsofnewyork/  tt0217505                en

        original_title                                           overview  \
305  Gangs of New York  It's 1863. America was born in the streets. Am...

     popularity  ...                           tagline              title  \
305   14.922399  ...  America was born in the streets.  Gangs of New York

                                              Keywords  \
305  [{'id': 657, 'name': 'fire'}, {'id': 1857, 'na...

                                                  cast  \
305  [{'cast_id': 2, 'character': 'Amsterdam Vallon...

                                                  crew    revenue no profit  \
305  [{'credit_id': '52fe4389c3a36847f805bc87', 'de...  193772504     False

     capitalized_title    lowercase_title revised_profit
305  GANGS OF NEW YORK  gangs of new york       93772504

[1 rows x 27 columns]
('en', 312)
      id belongs_to_collection   budget  \
311  312                   NaN  9500000

                                                genres  \
311  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...

                               homepage    imdb_id original_language  \
311  http://laurenceanywaysthemovie.com  tt1650048                en

       original_title                                           overview  \
311  Laurence Anyways  Set in the 1980s and 1990s, a man tries to sal...

     popularity  ... tagline             title  \
311     8.59498  ...     NaN  Laurence Anyways

                                              Keywords  \
311  [{'id': 10180, 'name': 'homosexuality'}, {'id'...

                                                  cast  \
311  [{'cast_id': 1, 'character': 'Laurence Alia', ...

                                                  crew revenue no profit  \
311  [{'credit_id': '52fe4accc3a36847f81e22eb', 'de...   12250      True

    capitalized_title   lowercase_title revised_profit
311  LAURENCE ANYWAYS  laurence anyways       -9487750

[1 rows x 27 columns]
('en', 323)
      id belongs_to_collection     budget  \
322  323                   NaN  135000000

                                                genres  \
322  [{'id': 37, 'name': 'Western'}, {'id': 18, 'na...

                                         homepage    imdb_id  \
322  http://www.foxmovies.com/movies/the-revenant  tt1663202

    original_language original_title  \
322                en   The Revenant

                                              overview  popularity  ...  \
322  In the 1820s, a frontiersman, Hugh Glass, sets...   23.501228  ...

                                             tagline         title  \
322  (n. One who has returned, as if from the dead.)  The Revenant

                                              Keywords  \
322  [{'id': 494, 'name': 'father son relationship'...

                                                  cast  \
322  [{'cast_id': 1, 'character': 'Hugh Glass', 'cr...

                                                  crew    revenue no profit  \
322  [{'credit_id': '568fae529251411895001f8d', 'de...  532950503     False

    capitalized_title lowercase_title revised_profit
322      THE REVENANT    the revenant      397950503

[1 rows x 27 columns]
('en', 362)
      id                              belongs_to_collection   budget  \
361  362  [{'id': 343944, 'name': 'Singam Collection', '...  2200000

                                                genres homepage    imdb_id  \
361  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...      NaN  tt1655607

    original_language original_title  \
361                en         Singam

                                              overview  popularity  ...  \
361  The story, set in the backdrop of Nallore, a s...    1.132835  ...

    tagline   title                                           Keywords  \
361     NaN  Singam  [{'id': 158927, 'name': 'police investigation'...

                                                  cast  \
361  [{'cast_id': 5, 'character': 'Durai Singam', '...

                                                  crew  revenue no profit  \
361  [{'credit_id': '58a06b4cc3a36802f7006a52', 'de...  9700000     False

    capitalized_title lowercase_title revised_profit
361            SINGAM          singam        7500000

[1 rows x 27 columns]
('en', 365)
      id belongs_to_collection    budget  \
364  365                   NaN  90000000

                                                genres homepage    imdb_id  \
364  [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...      NaN  tt0140352

    original_language original_title  \
364                en    The Insider

                                              overview  popularity  ...  \
364  Tells the true story of a 60 Minutes televisio...     11.3569  ...

                                               tagline        title  \
364  Two men driven to tell the truth... whatever t...  The Insider

                                              Keywords  \
364  [{'id': 470, 'name': 'spy'}, {'id': 918, 'name...

                                                  cast  \
364  [{'cast_id': 12, 'character': 'Lowell Bergman'...

                                                  crew   revenue no profit  \
364  [{'credit_id': '52fe44d0c3a36847f80abaa3', 'de...  60289912      True

    capitalized_title lowercase_title revised_profit
364       THE INSIDER     the insider      -29710088

[1 rows x 27 columns]
('en', 385)
      id belongs_to_collection    budget                         genres  \
384  385                   NaN  55000000  [{'id': 18, 'name': 'Drama'}]

    homepage    imdb_id original_language    original_title  \
384      NaN  tt0146838                en  Any Given Sunday

                                              overview  popularity  ...  \
384  A star quarterback gets knocked out of the gam...   10.571434  ...

                tagline             title  \
384  Play or be Played.  Any Given Sunday

                                              Keywords  \
384  [{'id': 579, 'name': 'american football'}, {'i...

                                                  cast  \
384  [{'cast_id': 16, 'character': "Tony D'Amato", ...

                                                  crew    revenue no profit  \
384  [{'credit_id': '56786ed0925141118c000774', 'de...  100230832     False

    capitalized_title   lowercase_title revised_profit
384  ANY GIVEN SUNDAY  any given sunday       45230832

[1 rows x 27 columns]
('en', 388)
      id belongs_to_collection    budget  \
387  388                   NaN  36000000

                                                genres homepage    imdb_id  \
387  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...      NaN  tt0101373

    original_language                     original_title  \
387                en  At Play in the Fields of the Lord

                                              overview  popularity  ...  \
387  Martin and Hazel Quarrier are small-town funda...    2.151436  ...

                                               tagline  \
387  An adventure beyond the limits of civilization...

                                 title  \
387  At Play in the Fields of the Lord

                                              Keywords  \
387  [{'id': 440, 'name': 'missionary'}, {'id': 216...

                                                  cast  \
387  [{'cast_id': 1, 'character': 'Lewis Moon', 'cr...

                                                  crew  revenue no profit  \
387  [{'credit_id': '576c8b2bc3a36830890005a8', 'de...  1345903      True

                     capitalized_title                    lowercase_title  \
387  AT PLAY IN THE FIELDS OF THE LORD  at play in the fields of the lord

    revised_profit
387      -34654097

[1 rows x 27 columns]
('en', 402)
      id belongs_to_collection   budget  \
401  402                   NaN  3000000

                                                genres homepage    imdb_id  \
401  [{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...      NaN  tt0319736

    original_language              original_title  \
401                en  The Legend of Bhagat Singh

                                              overview  popularity  ...  \
401  The Legend of Bhagat Singh is a 2002 Indian hi...    0.904409  ...

    tagline                       title Keywords  \
401     NaN  The Legend of Bhagat Singh      NaN

                                                  cast  \
401  [{'cast_id': 12, 'character': 'Bhagat K. Singh...

                                                  crew  revenue no profit  \
401  [{'credit_id': '52fe44849251416c9101372f', 'de...  6000000     False

              capitalized_title             lowercase_title revised_profit
401  THE LEGEND OF BHAGAT SINGH  the legend of bhagat singh        3000000

[1 rows x 27 columns]
('en', 420)
      id belongs_to_collection   budget  \
419  420                   NaN  3750000

                                                genres  \
419  [{'id': 35, 'name': 'Comedy'}, {'id': 10769, '...

                          homepage    imdb_id original_language  \
419  http://www.atithithefilm.com/  tt1578116                en

           original_title                                           overview  \
419  Atithi Tum Kab Jaoge  Atithi Tum Kab Jaoge? is the story of Puneet a...

     popularity  ... tagline                             title Keywords  \
419    0.597058  ...     NaN  Dear Guest, When Will You Leave?      NaN


In [ ]:
imdb1_g1 = imdb1.groupby('original_language')

In [ ]:
imdb1_g1.size()

original_language
en    135
dtype: int64

In [ ]:
imdb_g2 = imdb1.groupby(['original_language','id'])

In [ ]:
imdb_g2.size()

original_language  id
en                 48      1
                   52      1
                   77      1
                   98      1
                   108     1
                          ..
                   2861    1
                   2878    1
                   2933    1
                   2945    1
                   2966    1
Length: 135, dtype: int64